.app-footer {
  position: relative;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid $main-border--light;

  &__copyright-text {
    font-size: 16px;
    color: $text-color--light;
    margin: 0 0 16px 0;
  }

  &__made-by {
    font-size: 16px;
    color: $text-color;
    line-height: 150%;
  }

  &__icon {
    color: #F56C6C;
  }
}

// media
@media screen and (max-width: 576px) {
  .app-footer {
    padding: 16px 0;

    &__made-by, &__copyright-text, &__link {
      font-size: 12px;
    }

    &__copyright-text {
      margin: 0 0 8px 0;
    }
  }
}