.page {
  position: relative;
}

.app-page {
  position: relative;

  &__main {
    padding: calc(64px + 32px) 0 32px 0;
    background-color: $main-background;

    &--is-dashboard {
      background-color: $main-background--accent;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: calc(1280px + 4rem);
  padding: 0 2rem;
  margin: 0 auto;

  &--full {
    max-width: 100%;
  }
}

// Media
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}