$primary: #409eff;

// Timing
$time: 0.2s;

// Text
$text-color: #434343;
$text-color--dark: #292929;
$text-color--light: #8F8F8F;
$text-color--lightest: #637381;
$text-color--placeholder: #606266;

// Borders
$main-border: #E7E8EF;
$main-border--light: #E3E3E3;

$main-background: #ffffff;
$main-background--accent: #F0F1F6;