$primary: #409eff;

// Timing
$time: 0.2s;

// Text
$text-color: #434343;
$text-color--dark: #292929;
$text-color--light: #8f8f8f;
$text-color--lightest: #637381;
$text-color--placeholder: #606266;
$text-color--accent: #a8abb2;

// Borders
$main-border: #e7e8ef;
$main-border--light: #e3e3e3;

// Backgrounds
$main-background: #ffffff;
$main-background--accent: #f0f1f6;

// Ui states
$ui-error: #f56c6c;
