.dashboard-settings-password {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    &-field {
      .el-form-item {
        margin: 0;
      }
    }
  }
}

// Media
@media screen and (max-width: 576px) {
  .dashboard-settings-password {
    &__form {
      grid-template-columns: repeat(1, 1fr);

      &-submit-button {
        width: 100%;
      }
    }
  }
}