body {
  .el-card {
    &__header {
      padding: 20px 20px 10px;
      border-bottom: none;
    }
  }
}

// Media

@media screen and (max-width: 768px) {
  body {
    .el-card {
      &.no-mobile-padding {
        .el-card__body {
          padding: 0;
        }
      }
    }
  }
}
