body {
  .el-dialog {
    &__header, &__body {
      max-width: calc(1280px + 4rem);
      padding: 20px 2rem;
    }
  }
}

// Media
@media screen and (max-width: 768px) {
  body {
    .el-dialog {
      &__header, &__body {
        padding: 20px 1rem;
      }
    }
  }
}