body {
  .el-dialog {
    &__header, &__body {
      max-width: calc(1280px + 4rem);
      padding: 20px 2rem;
    }
  }
}

// Media
@media screen and (max-width: 768px) {
  body {
    .el-dialog {
      &__header, &__body {
        padding: 20px 1rem;
      }
    }
  }
}

// Media
@media screen and (max-width: 768px) {
  body {
    .el-dialog {
      --el-dialog-width: 100%;
      --el-dialog-margin-top: 0;
      margin-bottom: 0;
      height: 100%;
      overflow: auto;;
      max-width: 100%;
      width: 100%;
    }
  }
}