body {
  .el-pagination {
    background-color: transparent;

    button,
    .el-pager li {
      background-color: transparent !important;
    }

    .el-pager li.is-active {
      color: $text-color !important;
    }
  }
}
